@import "tailwindcss";

@theme {
  /* Morocco Theme Colors */
  --color-morocco-red: #C1272D;
  --color-morocco-green: #006233;
  --color-morocco-gold: #D4AF37;
  --color-morocco-dark: #1A1A1A;
  --color-morocco-neutral: #F5F5F5;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: white;
  color: #1A1A1A;
  font-family: Arial, Helvetica, sans-serif;
}